<h3>People:</h3>


<p>
<a href="http://www.cse.unsw.edu.au/~chak">
        <img class="photo" src="/images/manu.jpg" height="150" width="130" alt="" />
</a>
<a href="http://www.cse.unsw.edu.au/~chak">Manuel Chakravarty</a><br/>
Group Co-head
</p>

<p>
<a href="http://www.cse.unsw.edu.au/~keller">
        <img class="photo" src="/images/me.jpg" height="150" width="130" alt="" />
</a>
<a href="http://www.cse.unsw.edu.au/~keller">Gabriele Keller</a><br/>
Group Co-head
</p>

<p>
<a href="http://www.cse.unsw.edu.au/~benl">
        <img class="photo" src="/images/Ben.jpg" height="150" width="130" alt="" />
</a>
<a href="http://www.cse.unsw.edu.au/~benl">Ben Lippmeier</a><br/>
Research Associate
</p>
